.scrollable-list {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.scrollable-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.scrollable-list li {
    padding: 5px;
}